.--pref-main-layout {
    .vue-monthly-picker {
        font-family: var(--pref-font-family);
        color: var(--pref-color-dark);
        .monthItem {
            display: grid!important;
            grid-template-columns: repeat(3,minmax(0,1fr));

            .item {
                font-weight: 500;
                border: 0;
                font-size: 13px;
                border: 0!important;
                &.active:hover {
                    background: #eeeeee!important;
                }
            }
        }

        .date-popover {
            width: 320px;
            margin-top: 2px;
            box-shadow: unset;
            border-radius: 5px;
        }

        .flexbox:not(.monthItem) {
            align-items: center;
            div {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .prev, .next {
            width: 30px;
            height: 30px;
            border: 1px solid #e6e6e6;
            margin: 10px 20px;
            border-radius: 5px;
            &:after {
                content:none;
            }
        }

        .prev {
            background: url(~/static/icons/chevron-left.svg) center no-repeat;
        }

        .next {
            background: url(~/static/icons/chevron-right.svg) center no-repeat;
        }

        .vmp-input-append {
            background: url(~/static/icons/close.svg) center no-repeat;
            width: 20px;
            right: 5px;
            display: block;
            i:before {
                content: none;
            }
        }

        .month-picker-wrapper {
            width: 200px;
            max-width: 100%;

        }

        .month-year-display {
            display:flex;
            color: var(--pref-color-dark);
            .display-text {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}